@CHARSET "UTF-8";

.displaynone {
	display: none !important;
}

.xans-product-detail {
	position: relative;
	margin: 0 auto 20px auto;
	padding: 30px 20px 20px 20px;
	border: 2px solid #e1e1e1;
}

.xans-product-detail .detailArea {
	padding: 0 0 0 540px;
	*zoom: 1;
}

.xans-product-detail .detailArea:after {
	content: "";
	display: block;
	clear: both;
}

.xans-product-detail .headingArea {
	position: relative;
	padding: 0 0 10px;
	margin: 0 0 15px;
	line-height: 24px;
	border-bottom: 1px solid #e8e8e8;
	font-family: '굴림', Gulim;
}

.xans-product-detail .headingArea h2 {
	display: inline;
	font-size: 14px;
	color: #2e2e2e;
}

.xans-product-detail .headingArea .icon img {
	margin: 0 -3px 0 0;
	vertical-align: middle;
}

.xans-product-detail .headingArea .supply {
	overflow: hidden;
	float: right;
	*zoom: 1;
}

.xans-product-detail .headingArea .supply span {
	padding: 0 3px 0 0;
	font-size: 16px;
	font-weight: bold;
	color: #555;
}

.xans-product-detail .imgArea {
	float: left;
	width: 546px;
	margin: 0 0 0 -566px;
}

.xans-product-detail .imgArea .keyImg {
	width: 346px;
	margin: 0 auto;
	text-align: center;
}

.xans-product-detail .imgArea .keyImg img {
	max-width: 344px;
	border: 1px solid #ececec;
	cursor: pointer;
}

.xans-product-detail .imgArea .listImg {
	overflow: hidden;
	width: 346px;
	margin: 15px auto 0;
}

.xans-product-detail .imgArea .listImg ul {
	height: 77px;
	margin: 0;
	font-size: 0;
	line-height: 0;
}

.xans-product-detail .imgArea .listImg li {
	display: inline-block;
	margin: 0 1px;
	font-size: 12px;
	line-height: 14px;
	vertical-align: top;
	*display: inline;
	*zoom: 1;
}

.xans-product-detail .imgArea .listImg li img {
	width: 65px;
	height: 75px;
	border: 1px solid #ececec;
	cursor: pointer;
}

.xans-product-detail .imgArea .listImg button {
	position: absolute;
	top: 0;
	width: 21px;
	height: 77px;
	font-size: 0;
	line-height: 0;
	color: transparent;
	background:
		url("http://img.echosting.cafe24.com/skin/base_ko_KR/product/btn_product_detail_ctrl.png")
		no-repeat;
}

.xans-product-detail .imgArea .listImg .prev {
	left: 0;
	background-position: 0 0;
}

.xans-product-detail .imgArea .listImg .next {
	right: 0;
	background-position: -31px 0;
}

.xans-product-detail .imgArea .control {
	overflow: hidden;
	width: 346px;
	margin: 30px auto 0;
	text-align: center;
}

.xans-product-detail .imgArea .control .prev {
	float: left;
	border-right: 1px solid #d7d5d5;
}

.xans-product-detail .imgArea .control .next {
	float: right;
	border-left: 1px solid #d7d5d5;
}

.xans-product-detail .imgArea .color {
	overflow: hidden;
	margin: 20px 0 17px;
}

.xans-product-detail .imgArea .chips {
	float: left;
	width: 28px;
	height: 18px;
	margin: 0 3px 3px 0;
	border: 1px solid #e3e3e3;
	font-size: 0;
	line-height: 0;
}

.xans-product-detail .imgArea .button {
	float: none;
	width: 346px;
	margin: 30px auto 0;
	padding: 0 0 23px;
	border-top: 0;
	border-bottom: 1px solid #e8e8e8;
	text-align: center;
}

.xans-product-detail .imgArea .button img {
	margin: 0 3px;
}

.xans-product-detail .infoArea p.delivery {
	padding: 10px 0 20px;
}

.xans-product-detail .infoArea .guideArea {
	position: relative;
}

.xans-product-detail .infoArea .guideArea .info {
	margin: 7px 0 0;
	padding: 8px 0 0 11px;
	border-top: 1px solid #e8e8e8;
	color: #757575;
}

.xans-product-detail .infoArea .guideArea .sizeGuide {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 8px 0 0;
	background:
		url("http://img.echosting.cafe24.com/skin/base_ko_KR/product/ico_sizeGuide.gif")
		no-repeat 0 3px;
}

.xans-product-detail .infoArea .sizeGuide a {
	display: inline-block;
	padding: 2px 15px 2px 24px;
	color: #353535;
	vertical-align: top;
	background:
		url("http://img.echosting.cafe24.com/skin/base_ko_KR/product/ico_sizeGuide_go.gif")
		no-repeat 100% 6px;
	*zoom: 1;
}

.xans-product-detail .infoArea .sizeGuide a:hover {
	text-decoration: none;
}

.xans-product-detail .infoArea table {
	border: 0;
	font-size: 12px;
	margin: 10px 0 0;
}

.xans-product-detail .infoArea th {
	font-weight: normal;
	color: #353535;
	width: 115px;
	padding: 7px 0 8px 9px;
	text-align: left;
	vertical-align: middle;
}

.xans-product-detail .infoArea td {
	padding: 7px 10px 8px 0;
	vertical-align: middle;
}

.xans-product-detail .infoArea img {
	vertical-align: middle;
}

.xans-product-detail .infoArea input {
	height: 22px;
	color: #353535;
}

.xans-product-detail .infoArea select {
	width: 100%;
	height: 24px;
	font-size: 12px;
	color: #353535;
}

.xans-product-detail .infoArea td #delivery_cost_prepaid {
	margin: 0 0 5px;
}

.xans-product-detail .infoArea td .inputWrap {
	display: block;
	padding: 0 4px;
	border: 1px solid #c5c5c5;
	border-right: 1px solid #e9e9e9;
	border-bottom: 1px solid #e9e9e9;
	background: #fff;
}

.xans-product-detail .infoArea td .inputWrap input {
	width: 100%;
	border: 0;
	font-size: 11px;
	line-height: 22px;
}

.xans-product-detail .infoArea td.social {
	padding: 4px 0 0;
}

.xans-product-detail .infoArea td.social img {
	cursor: pointer;
}

.xans-product-detail .infoArea td .sale {
	text-decoration: line-through;
}

.xans-product-detail .infoArea td .period {
	display: block;
	margin: 7px 0 0;
	font-size: 11px;
	color: #353535;
}

.xans-product-detail .infoArea td .mileage li {
	line-height: 1.7em;
}

.xans-product-detail .infoArea td .quantity {
	position: relative;
	display: block;
}

.xans-product-detail .infoArea td .quantity input {
	width: 30px;
	height: 18px;
	border: 1px solid #bcbcbc;
}

.xans-product-detail .infoArea td .quantity .QuantityUp {
	position: absolute;
	left: 32px;
	top: 0;
}

.xans-product-detail .infoArea td .quantity .QuantityDown {
	position: absolute;
	left: 32px;
	bottom: 0;
}

.xans-product-detail .infoArea td .delivery input {
	border: 0;
}

.xans-product-detail .infoArea td .delivery label {
	margin: 0 30px 0 0;
}

.xans-product-detail .infoArea td img.qrcode {
	border: 1px solid #e1e1e1;
}

.xans-product-detail .infoArea td #span_product_price_text {
	font-weight: normal;
}

.xans-product-detail .infoArea td #span_product_coupon_dc_price {
	color: #070705;
}

.xans-product-detail .infoArea td.fileInfo {
	color: #757575;
}

.xans-product-detail .infoArea td.fileInfo input {
	width: 288px;
	border: 1px solid #c5c5c5;
	border-right: 1px solid #e9e9e9;
	border-bottom: 1px solid #e9e9e9;
}

.xans-product-detail .infoArea td.fileInfo .infoDesc {
	margin: 0 0 10px 0;
}

.xans-product-detail .infoArea td.fileInfo li {
	margin: 4px 0 0;
	color: #757575;
	font-size: 11px;
}

.xans-product-detail .infoArea td.fileInfo li img {
	vertical-align: bottom;
}

.xans-product-detail .delv_price_B strong {
	font-weight: normal;
}

.xans-product-detail .btnTooltip {
	display: inline-block;
	position: relative;
	z-index: 10;
	vertical-align: middle;
	*display: inline;
	*zoom: 1;
}

.xans-product-detail .infoArea .xans-product-option tr th {
	padding: 5px 0 5px 4px;
}

.xans-product-detail .infoArea .xans-product-option tr td {
	padding: 4px 10px 4px 0;
}

.xans-product-detail .infoArea .xans-product-option tr:first-child th,
	.xans-product-detail .infoArea .xans-product-option .xans-product-fileoption th
	{
	padding-top: 14px;
	border-top: 1px solid #e8e8e8;
}

.xans-product-detail .infoArea .xans-product-option tr:first-child td,
	.xans-product-detail .infoArea .xans-product-option .xans-product-fileoption td
	{
	padding-top: 10px;
	border-top: 1px solid #e8e8e8;
}

.xans-product-detail .infoArea .xans-product-option td.selectButton {
	text-align: right;
}

.xans-product-detail .infoArea .xans-product-addoption td .inputWrap {
	display: inline-block;
	width: 280px;
}

.xans-product-detail .infoArea .xans-product-addoption .txtByte {
	font-size: 11px;
	vertical-align: middle;
	letter-spacing: -1px;
}

.xans-product-detail .infoArea .xans-product-addoption .txtByte strong {
	color: #008bcc;
}

.xans-product-action {
	width: 100%;
	padding: 3px 0 10px;
	border-top: 1px solid #e8e8e8;
}

.xans-product-action .btnArea {
	overflow: hidden;
	margin: 0 0 15px;
	text-align: left;
	font-size: 0;
	line-height: 0;
}

.xans-product-action .btnArea a {
	display: inline-block;
	vertical-align: top;
}

.xans-product-action .btnArea a img {
	margin: 0 0 0 3px;
	font-size: 12px;
	line-height: 14px;
	cursor: pointer;
}

.xans-product-action .btnArea a:first-child img {
	margin-left: 0;
}

.xans-product-detail .eventArea {
	color: #353535;
}

.xans-product-detail .eventArea h3 {
	padding: 0 0 0 9px;
	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
	font-size: 12px;
	color: #008bcc;
	line-height: 39px;
}

.xans-product-detail .eventArea .event {
	padding: 27px 10px 46px 9px;
	color: #353535;
	line-height: 18px;
}

.xans-myshop-benefit {
	margin: 30px 0;
}

.xans-myshop-benefit .thanks {
	padding: 7px 0 11px 9px;
	border: 1px solid #d6d4d4;
	border-bottom: 1px solid #e8e7e7;
	color: #353535;
	background: #fbfbfb;
}

.xans-myshop-benefit .thanks img {
	margin: -1px 6px 0 0;
	vertical-align: middle;
}

.xans-myshop-benefit .myInfo {
	overflow: hidden;
	padding: 9px 10px 10px 100px;
	border: 1px solid #d6d4d4;
	border-top: 0;
}

.xans-myshop-benefit .myInfo p {
	color: #757575;
	line-height: 18px;
}

.xans-myshop-benefit .myThumb {
	float: left;
	margin: 0 0 0 -91px;
}

.xans-myshop-benefit .member {
	margin: 2px 0 19px;
}

.xans-myshop-benefit .member strong {
	color: #353535;
}

.xans-myshop-benefit .member em {
	font-style: normal;
	color: #353535;
}

#image_zoom_small {
	display: block;
	position: absolute;
	z-index: 999;
	background: #fff;
	border: 1px solid #aaa;
	filter: alpha(opacity = 50);
	opacity: 0.5;
}

#zoom_wrap {
	position: absolute;
	top: 30px;
	left: 380px;
	z-index: 100;
}

.image_zoom_large {
	position: absolute;
	z-index: 999;
	width: 350px;
	height: 350px;
	overflow: hidden;
	background: #fff;
	border: 1px solid #aaa;
}

.image_zoom_large .image_zoom_large_relative {
	position: relative;
}

.image_zoom_large .image_zoom_large_relative #zoom_image {
	position: absolute;
	z-index: 99;
}

#NaverChk_Button {
	clear: both;
	margin: 10px 0 0;
	float: right;
}

#divNvPointInfo {
	display: none;
	position: absolute;
	z-index: 99;
	width: 245px;
	padding: 10px;
	color: #777;
	font-size: 11px;
	background: #fff;
	border: 1px solid #5B9761;
}

#divNvPointInfo a {
	display: block;
	padding: 5px 0 0;
	color: #1ec228;
}

#divNvPointInfo a img {
	vertical-align: middle;
}

#imgNaverMileageHelp {
	cursor: pointer;
}

.infoArea .productSet {
	margin: 10px 0 0;
	border: 1px solid #d7d5d5;
}

.infoArea .productSet table {
	table-layout: fixed;
	margin: 0;
}

.infoArea .productSet th {
	width: 100px;
	padding: 5px 5px 5px 8px;
	color: #353535;
}

.infoArea .productSet td {
	padding: 5px 10px;
	color: #353535;
}

.infoArea .productSet td.del {
	text-decoration: line-through;
}

.infoArea .productSet td.price {
	font-weight: bold;
	color: #ff8a56;
}

.infoArea .productSet td.sale {
	font-weight: bold;
	color: #f95959;
}

.infoArea .productSet td.thumbnail img {
	width: 78px;
	height: 108px;
	margin: 3px 0 7px;
	border: 1px solid #ececec;
}

.infoArea .productSet .product {
	padding: 9px 0 4px;
	border-top: 1px solid #e9e9e9;
	vertical-align: top;
}

.infoArea .productSet .sizeGuide {
	padding: 5px 10px;
	height: 19px;
	border-top: 1px solid #d7d5d5;
	text-align: right;
}

.infoArea .productSet .sizeGuide a {
	margin: 0;
	padding-left: 0;
	position: static;
}

.infoArea .productSet .sizeGuide a span {
	display: inline-block;
	padding: 0 0 0 24px;
	background:
		url("http://img.echosting.cafe24.com/skin/base_ko_KR/product/ico_sizeGuide.gif")
		no-repeat 0 2px;
	*zoom: 1;
}

.infoArea .productSet .seperate, .infoArea .productSet .option {
	vertical-align: top;
	*zoom: 1;
}

.infoArea .productSet .option td {
	padding: 4px 10px;
}

.infoArea .productSet .info {
	padding: 0 0 0 58px;
	font-size: 11px;
	color: #8f8f91;
}

.infoArea .productSet .selectButton {
	text-align: right;
}

.infoArea .productSet .recommend {
	position: relative;
	padding: 0 0 0 8px;
	font-size: 11px;
	color: #757575;
	line-height: 38px;
	background: #fbfafa;
}

.infoArea .productSet .recommend strong {
	padding: 0 7px 0 0;
	font-size: 12px;
	color: #353535;
}

.infoArea .productSet .recommend .toggle {
	position: absolute;
	right: 10px;
	top: 4px;
}

.infoArea .productSet.normal {
	border: 0;
}

.infoArea .productSet.normal th {
	border-right: 1px solid #d7d5d5;
}

.infoArea .productSet.normal tr:first-child th, .infoArea .productSet.normal tr:first-child td
	{
	padding-top: 11px;
	padding-bottom: 11px;
	border-bottom: 1px solid #d7d5d5;
	background: #fbfafa;
}

.infoArea .productSet.normal .option th {
	padding-top: 0;
}

.infoArea .productSet.normal .option td {
	padding: 1px 10px 7px;
}

.infoArea .productSet.normal .option tr:first-child th {
	padding-top: 5px;
	padding-bottom: 6px;
	border-bottom: 0;
	background: none;
}

.infoArea .productSet.normal .option tr:first-child td {
	padding-top: 1px;
	padding-bottom: 6px;
	border-bottom: 0;
	background: none;
}

.infoArea .productSet.normal .product {
	margin: 1px 0 0;
	padding: 0;
	border: 1px solid #d7d5d5;
}

.infoArea .productSet .xans-product-addoption td .inputWrap {
	display: inline-block;
	width: 273px;
}

.infoArea .productSet.hide .product {
	display: none;
}

#totalProducts {
	margin: 21px 0 0;
}

#totalProducts .info {
	padding: 0 0 9px;
	font-size: 11px;
	color: #f65b54;
	line-height: 14px;
}

#totalProducts .info img {
	margin: 0 5px 0 0;
}

#totalProducts table {
	margin: 0;
}

#totalProducts table .left {
	text-align: left;
}

#totalProducts table .center {
	text-align: center;
}

#totalProducts table .right {
	padding-right: 9px;
	font-weight: bold;
	color: #008bcc;
	text-align: right;
}

#totalProducts thead th {
	height: 0;
	padding: 0;
	font-size: 0;
	line-height: 0;
	*position: absolute;
}

#totalProducts tbody th {
	vertical-align: middle;
}

#totalProducts tbody td {
	padding: 9px 0;
	border-top: 1px solid #ebebeb;
	color: #353535;
	line-height: 18px;
	vertical-align: middle;
	word-wrap: break-word;
	word-break: break-all;
}

#totalProducts tbody tr td:first-child {
	padding-left: 4px;
}

#totalProducts tbody tr:first-child td {
	border-top: 1px solid #9a9ba0;
}

#totalProducts tbody td p {
	padding: 0 10px 0 0;
	font-weight: bold;
	line-height: 21px;
}

#totalProducts tbody td p.product span {
	font-weight: normal;
	color: #757575;
	line-height: 18px;
}

#totalProducts tbody td p.product span.soldOut {
	color: #008bcc;
}

#totalProducts tbody td img {
	vertical-align: middle;
}

#totalProducts tbody td .quantity {
	display: inline-block;
	position: relative;
	width: 50px;
	vertical-align: top;
	*margin: 0 4px 0 0;
}

#totalProducts tbody td .quantity input {
	width: 22px;
	height: 23px;
	padding: 0 2px 0 3px;
	line-height: 23px;
	border: 1px solid #d4d8d9;
	border-radius: 3px 0 0 3px;
	*margin-top: -1px;
}

#totalProducts tbody td .quantity .up {
	position: absolute;
	left: 28px;
	top: 0;
}

#totalProducts tbody td .quantity .down {
	position: absolute;
	left: 28px;
	top: 12px;
}

#totalProducts tbody.option_products tr td .quantity input,
	#totalProducts tbody.add_products tr td .quantity input {
	height: 19px;
	line-height: 19px;
}

#totalProducts tbody.option_products tr td .quantity .down,
	#totalProducts tbody.add_products tr td .quantity .down {
	bottom: 0;
	top: auto;
}

#totalProducts tbody td .mileage {
	display: block;
	white-space: nowrap;
}

#totalProducts tbody td .mileage_price {
	
}

#totalProducts tfoot td {
	padding: 34px 9px 19px;
	border-top: 1px solid #9a9ba0;
	color: #353535;
	vertical-align: middle;
	background: #fff;
}

#totalProducts tfoot td .total {
	color: #008bcc;
}

#totalProducts tfoot td .total em {
	font-style: normal;
	font-size: 21px;
}

#totalProducts+.xans-product-action {
	margin-top: 0;
}

.differentialShipping {
	display: none;
	overflow: hidden;
	position: absolute;
	left: 50%;
	top: 17px;
	z-index: 100;
	width: 350px;
	margin: 0 0 0 -176px;
}

.differentialShipping h3.title {
	height: 35px;
	padding: 0 35px 0 19px;
	border: 0;
	color: #fff;
	font-size: 14px;
	line-height: 35px;
	background: #495164;
}

.differentialShipping .content {
	padding: 12px 18px 14px 18px;
	border: 1px solid #757575;
	border-top: 0;
	text-align: center;
	background: #fff;
}

.differentialShipping .close {
	position: absolute;
	right: 14px;
	top: 12px;
}

.differentialShipping .close img {
	cursor: pointer;
}

.differentialShipping .content ul {
	color: #757575;
	line-height: 25px;
}

.differentialShipping .content li {
	overflow: hidden;
}

.differentialShipping .content li strong {
	float: left;
	font-weight: normal;
}

.differentialShipping .content li span {
	float: right;
	color: #2e2e2e;
}

.differentialShipping .content .info {
	margin: 7px 0 0;
	padding: 7px 0 0;
	border-top: 1px dotted #b0b1b3;
	font-size: 11px;
	color: #80aeef;
	text-align: right;
}

.xans-product-customsns, .xans-product-customsns ul,
	.xans-product-customsns li {
	display: inline;
	vertical-align: middle;
}

.xans-product-customsns img {
	margin-bottom: 2px;
}

.xans-product-detail .infoArea td>span>ul.discountMember>li {
	position: relative;
	float: left;
}

.xans-product-detail .infoArea td ul.discountMember li a {
	display: block;
	margin: 0 4px 4px 0;
}

.xans-product-detail .infoArea td ul li .discount_layer {
	z-index: 10;
	overflow: auto;
	position: absolute;
	left: -140px;
	top: 19px;
	margin-top: 7px;
	padding: 15px;
	min-width: 300px;
	max-height: 400px;
	border: 1px solid #565960;
	background: #fff;
}

.xans-product-detail .infoArea td ul li .discount_layer h3 {
	margin: 0 0 8px;
	padding: 0 10px;
	font-size: 12px;
	border-bottom: 0;
	background:
		url("http://img.echosting.cafe24.com/skin/admin_ko_KR/product/ico_layer_title.gif")
		no-repeat 0 50%;
}

.xans-product-detail .infoArea td ul li .discount_layer p,
	.xans-product-detail .infoArea td ul li .discount_layer ul {
	padding: 0 10px;
}

.xans-product-detail .infoArea td ul li .discount_layer p strong {
	color: #0088d4;
}

.xans-product-detail .infoArea td ul li .discount_layer ul li {
	float: none;
	padding: 0 0 5px 5px;
	line-height: 1.4em;
	background:
		url("http://img.echosting.cafe24.com/skin/base_ko_KR/board/ico_function.gif")
		no-repeat 0 5px;
}

.xans-product-detail .infoArea td ul li .discount_layer thead th {
	padding: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
}

.xans-product-detail .infoArea td ul li .discount_layer tbody {
	border: 1px solid #d7d5d6;
}

.xans-product-detail .infoArea td ul li .discount_layer th {
	padding: 5px 0 5px 15px;
	background: #fbf9fa;
	border-right: 1px solid #e8e8e8;
	color: #363636;
}

.xans-product-detail .infoArea td ul li .discount_layer.member_rating th
	{
	width: 50px;
}

.xans-product-detail .infoArea td ul li .discount_layer th,
	.xans-product-detail .infoArea td ul li .discount_layer td {
	height: 15px;
	border-bottom: 1px solid #e8e8e8;
}

.xans-product-detail .infoArea td ul li .discount_layer td {
	padding: 5px 15px 5px 5px;
	text-align: right;
}

.xans-product-detail .infoArea td ul li .discount_layer tr:last-of-type th,
	.xans-product-detail .infoArea td ul li .discount_layer tr:last-of-type td
	{
	border-bottom: 0;
}

.xans-product-detail .infoArea td ul li .discount_layer .close {
	position: absolute;
	right: 15px;
	top: 15px;
	border: 0;
}

.xans-product-detail .infoArea td ul li .discount_layer h4 {
	margin: 10px 10px 3px;
}

.xans-product-detail .infoArea td ul li .discount_layer p.info {
	margin: 5px 0 0;
}

.xans-product-detail .infoArea td ul li .discount_layer p.bullet {
	margin: 12px 10px 0;
	padding: 0 0 0 5px;
	background:
		url("http://img.echosting.cafe24.com/skin/base_ko_KR/board/ico_function.gif")
		no-repeat 0 5px;
}

.xans-product-detail .infoArea td ul li .arrow {
	z-index: 20;
	position: absolute;
	left: 46%;
	top: 22px;
}

.xans-coupon-productdetail {
	clear: both;
	overflow: hidden;
}

.xans-coupon-productdetail>.title {
	position: relative;
	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
}

.xans-coupon-productdetail>.title h3 {
	padding: 0 0 0 9px;
	font-size: 12px;
	color: #008bcc;
	line-height: 39px;
}

.xans-coupon-productdetail>.title .button {
	position: absolute;
	top: 7px;
	right: 0;
	padding: 0 0 0 7px;
	background: #fff;
}

.xans-coupon-productdetail .couponSkinArea {
	padding: 30px 0 0;
	text-align: center;
}

.xans-coupon-productdetail .couponSkinArea ul {
	zoom: 1;
	margin: 0 auto;
	padding: 0;
}

.xans-coupon-productdetail .couponSkinArea ul:after {
	content: "";
	display: block;
	clear: both;
}

.xans-coupon-productdetail .couponSkinArea ul li {
	display: inline;
	float: left;
	width: 216px;
	padding: 0;
	list-style: none;
}

.xans-coupon-productdetail .couponSkinArea ul.grid1 {
	width: 216px;
}

.xans-coupon-productdetail .couponSkinArea ul.grid2 {
	width: 472px;
}

.xans-coupon-productdetail .couponSkinArea ul.grid2 li {
	margin: 0 10px;
}

.xans-coupon-productdetail .couponSkinArea ul.grid3 {
	width: 708px;
}

.xans-coupon-productdetail .couponSkinArea ul.grid3 li {
	margin: 0 10px;
}

.xans-coupon-productdetail .couponSkinArea .coupon {
	width: 216px;
	height: 105px;
	margin-bottom: 20px;
	font-size: 12px;
	line-height: 1.5;
	text-align: center;
	font-family: Dotum sans-serif;
	background-repeat: no-repeat;
}

.xans-coupon-productdetail .couponSkinArea .coupon img {
	border: 0;
}

.xans-coupon-productdetail .couponSkinArea .coupon p {
	margin: 0;
	padding: 0;
}

.xans-coupon-productdetail .couponSkinArea .coupon .title {
	display: block;
	padding: 8px 0 0;
	font-size: 10px;
	line-height: 15px;
	text-align: center;
	font-weight: normal;
	font-family: Arial;
}

.xans-coupon-productdetail .couponSkinArea .coupon .discount {
	font-size: 18px;
	line-height: 28px;
	font-weight: bold;
	text-align: center;
	letter-spacing: -1px;
	font-family: Dotum;
}

.xans-coupon-productdetail .couponSkinArea .coupon .discount span {
	font-size: 22px;
	font-family: Verdana;
}

.xans-coupon-productdetail .couponSkinArea .coupon .period {
	font-size: 11px;
	line-height: 13px;
	font-weight: bold;
	text-align: center;
	font-family: Dotum;
	letter-spacing: -1px;
}

.xans-coupon-productdetail .couponSkinArea .coupon .button {
	margin: 5px 0 0;
	text-align: center;
}

.xans-coupon-productdetail .couponSkinArea .imgCoupon .title,
	.xans-coupon-productdetail .couponSkinArea .imgCoupon .discount,
	.xans-coupon-productdetail .couponSkinArea .imgCoupon .period,
	.xans-coupon-productdetail .couponSkinArea .imgCoupon .button {
	display: none;
}

.xans-coupon-productdetail .couponSkinArea .imgCoupon .detail {
	height: 100%;
}

#dCouponDetail {
	overflow: hidden;
	position: relative;
	width: 398px;
	padding: 0 0 69px;
	border: 1px solid #757575;
	background: #fff
		url("http://img.echosting.cafe24.com/skin/base_ko_KR/coupon/bg_coupon_detail.gif")
		repeat-x 0 100%;
	box-shadow: 5px 5px 5px #d3d3d3;
}

#dCouponDetail h3 {
	height: 35px;
	padding: 0 35px 0 19px;
	color: #fff;
	font-size: 14px;
	line-height: 35px;
	background: #495164;
}

#dCouponDetail h3+a {
	position: absolute;
	right: 20px;
	top: 10px;
}

#dCouponDetail ul {
	clear: both;
	padding: 16px 10px 17px 20px;
	margin: 25px 19px 0;
	background: #f5f5f5;
}

#dCouponDetail ul li {
	margin: 7px 0 0;
	color: #2e2e2e;
	line-height: 18px;
}

#dCouponDetail ul li:first-child {
	margin-top: 0;
}

#dCouponDetail ul+a {
	position: absolute;
	left: 50%;
	bottom: 9px;
	margin: 0 0 0 -50px;
}

.xans-product-additional ul.link {
	margin: 30px 0 11px;
	border-bottom: 1px solid #292929;
	border-left: 0;
	line-height: 1.5;
	*zoom: 1;
}

.xans-product-additional ul.link:after {
	content: "";
	display: block;
	clear: both;
}

.xans-product-additional ul.link li {
	float: left;
	width: 20%;
	margin: 0 0 0 -1px;
	border-top: 1px solid #cbcdce;
}

.xans-product-additional ul.link li.selected {
	width: 20.3%;
}

.xans-product-additional ul.link li a {
	display: block;
	height: 38px;
	padding: 0 15px;
	border-right: 1px solid #cbcdce;
	border-left: 1px solid #cbcdce;
	color: #757575;
	line-height: 38px;
	text-decoration: none;
	text-align: center;
	background: #f0f2f2;
}

.xans-product-additional ul.link li.selected a {
	position: relative;
	top: -1px;
	margin: 0 0 -1px;
	border: 1px solid #292929;
	color: #fff;
	font-weight: bold;
	background: #4a5164;
}

.xans-product-additional ul.link li:first-child,
	.xans-product-additional ul.link li.selected:first-child {
	margin-left: 0;
}

.xans-product-additional .cont {
	padding: 27px 10px 46px 9px;
	color: #353535;
	line-height: 18px;
}

.xans-product-additional .cont h3 {
	margin: 0 0 20px;
	color: #444;
	font-size: 12px;
}

.xans-product-additional div.board {
	padding: 27px 0 46px;
	color: #353535;
	line-height: 18px;
}

.xans-product-additional div.board h3 {
	padding: 0 10px 0 9px;
	font-size: 12px;
}

.xans-product-additional div.board p.desc {
	padding: 0 10px 0 9px;
}

.xans-product-additional div.board p.nodata {
	margin: 15px 0 0;
	border: 1px solid #d7d5d5;
	font-weight: bold;
	color: #008bcc;
	line-height: 39px;
	text-align: center;
}

.xans-product-additional div.board .btnArea {
	padding: 10px 0;
	text-align: right;
}

.xans-product-additional div.board .btnArea img {
	margin: 0 0 0 4px;
}

.xans-product-additional div.board>.btnArea {
	padding: 8px 19px 12px 0;
	border: 1px solid #d7d5d5;
	border-top: 0;
}

.xans-product-additional table.board {
	margin: 15px 0 0;
	border: 1px solid #d7d5d5;
	color: #353535;
	font-size: 12px;
	line-height: 140%;
}

.xans-product-additional table.board th {
	padding: 12px 0 10px;
	border-right: 1px solid #e3e3e3;
	background: #fbfafa;
	font-weight: normal;
}

.xans-product-additional table.board td {
	padding: 14px 3px 13px;
	border-top: 1px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
	text-align: center;
	vertical-align: middle;
}

.xans-product-additional table.board th:last-child,
	.xans-product-additional table.board td:last-child {
	border-right: none;
}

.xans-product-additional table.board a, .xans-product-additional table.board a:hover
	{
	color: #353535;
}

.xans-product-additional table.board .subject {
	padding-left: 8px;
	color: #f76560;
	text-align: left;
	word-break: break-all;
}

.xans-product-additional table.board .subject img {
	vertical-align: middle;
	margin: 0 1px;
}

.xans-product-additional table.board .txtLess {
	color: #939393;
	font-size: 11px;
}

.xans-product-additional table.board td .view {
	padding: 16px 19px 0;
	line-height: 18px;
	text-align: left;
}

.xans-product-additional .paging {
	margin: -1px 0 0;
	padding: 12px 0;
	border: 1px solid #d7d5d5;
	border-top: 1px solid #e9e9e9;
	text-align: center;
	background: #fbfafa;
}

.xans-product-additional .paging p {
	display: inline-block;
	vertical-align: top;
	*display: inline;
	*zoom: 1;
}

.xans-product-additional .paging p.first {
	margin: 0 -4px 0 0;
}

.xans-product-additional .paging p.last {
	margin: 0 0 0 -4px;
}

.xans-product-additional .paging ol {
	display: inline-block;
	margin: 0 -4px;
	font-size: 0;
	line-height: 0;
	vertical-align: top;
	*display: inline;
	*zoom: 1;
	*margin: 0;
}

.xans-product-additional .paging li {
	display: inline-block;
	margin: 0 0 0 -1px;
	border: 1px solid #d7d5d5;
	font-size: 12px;
	color: #757575;
	vertical-align: top;
	*display: inline;
	*zoom: 1;
}

.xans-product-additional .paging li:first-child {
	margin-left: 0;
}

.xans-product-additional .paging img {
	vertical-align: top;
}

.xans-product-additional .paging li a {
	display: block;
	width: 33px;
	padding: 9px 0;
	font-weight: bold;
	color: #939393;
	line-height: 14px;
	background: #fff;
}

.xans-product-additional .paging li a:hover {
	text-decoration: none;
	background: #f0f2f2;
}

.xans-product-additional .paging li a.this {
	padding-bottom: 6px;
	border-bottom: 3px solid #495164;
	color: #495164;
}

.xans-product-additional .paging a.nolink {
	cursor: default;
}

#commentWriteForm_4 {
	padding: 0 19px;
}

#SecretForm_4 {
	background: #fbf9fa;
}

#SecretForm_4 .view {
	padding: 8px 0 7px;
}

#SecretForm_4 input {
	width: 41px;
	height: 24px;
	margin: 0 0 0 6px;
	border: 0;
	font-size: 0;
	line-height: 0;
	cursor: pointer;
	background:
		url("http://img.echosting.cafe24.com/skin/base_ko_KR/board/btn_ico_submit.gif")
		no-repeat 0 0;
}

#SecretForm_4 input#secure_password {
	width: 130px;
	height: 18px;
	margin-left: 11px;
	padding: 2px 2px 2px 4px;
	border: 1px solid #d9d9d9;
	font-size: 12px;
	line-height: 14px;
	cursor: text;
	background: #fff;
}

#product-review-read td, #product-qna-read td {
	padding: 0;
}

#product-review-read td #SecretForm_4 .view {
	padding-left: 79px;
}

#product-qna-read td #SecretForm_4 .view {
	padding-left: 213px;
}

.xans-product-additional .boardComment {
	padding: 0 19px;
}

.xans-product-additional .boardComment li {
	position: relative;
	overflow: hidden;
	margin: 10px 0 0 0;
	padding: 12px 0 0;
	border-top: 1px solid #d7d5d6;
	color: #353535;
	text-align: left;
	line-height: 14px;
}

.xans-product-additional .boardComment li:first-child {
	margin-top: 0;
}

.xans-product-additional .boardComment li .comment {
	margin: 9px 0 0;
	padding: 16px 0 15px 9px;
	border-top: 1px solid #e9e9e9;
	line-height: 18px;
	word-break: break-all;
}

.xans-product-additional .boardComment li .name {
	margin: 0 21px 0 0;
}

.xans-product-additional .boardComment li .name input {
	width: 13px;
	height: 13px;
	margin: 0 2px 0 0;
	vertical-align: -2px;
	*vertical-align: 2px;
}

.xans-product-additional .boardComment li .date {
	margin: 0 10px 0 0;
	font-size: 11px;
}

.xans-product-additional .boardComment li .grade {
	margin: 0 10px 0 0;
}

.xans-product-additional .boardComment li .button {
	position: absolute;
	right: 0;
	top: 6px;
}

.xans-product-additional .memoCont {
	margin: 20px 15px;
	padding: 10px 20px 15px 20px;
	border: 1px solid #e9e9e9;
	color: #353535;
	text-align: left;
	background: #fbfafa;
}

.xans-product-additional .memoCont .user {
	overflow: hidden;
	padding: 0 90px 0 0;
}

.xans-product-additional .memoCont .user input, .xans-product-additional .memoCont .user textarea
	{
	border: 1px solid #d9d9d9;
}

.xans-product-additional .memoCont .user input {
	width: 135px;
	height: 18px;
	margin: 0 10px 0 9px;
	padding: 2px 2px 2px 4px;
}

.xans-product-additional .memoCont .user .secret input {
	width: 13px;
	height: 13px;
	margin-right: 3px;
}

.xans-product-additional .memoCont .user .secret {
	margin: 0 20px 0 0;
}

.xans-product-additional .memoCont .user textarea {
	float: left;
	width: 100%;
	padding: 2px 0;
	height: 44px;
	text-indent: 4px;
	*margin-right: 10px;
}

.xans-product-additional .memoCont .user a {
	float: right;
	margin: 0 -90px 0 0;
}

.xans-product-additional .memoCont .nameArea {
	display: block;
	margin: 0 0 10px;
}

.xans-product-additional .memoCont .rating {
	margin: 12px 0 0;
}

.xans-product-additional .memoCont .rating input {
	width: 13px;
	height: 13px;
	margin: 0 2px 0 0;
	padding: 0;
	border: 0;
	vertical-align: -2px;
	*vertical-align: 1px;
}

.xans-product-additional .memoCont .rating label {
	padding: 0 10px 0 0;
}

.xans-product-additional .memoCont .rating em {
	font-style: normal;
}

.xans-product-additional .memoCont .text {
	margin: 5px 0 0;
	font-size: 11px;
}

.xans-product-additional .memoCont .text span {
	color: #008bcc;
}

.xans-product-additional .memoCont .captcha {
	margin: 8px 0 0;
	padding: 10px 0 0;
	border-top: 1px solid #e9e9e9;
	font-size: 11px;
	color: #757575;
}

.xans-product-additional .memoCont .captcha img {
	vertical-align: middle;
}

.xans-product-additional .memoCont .captcha input {
	margin: 0 10px 0 20px;
	font-size: 12px;
}

.xans-product-additional table.board td .view+form .memoCont {
	margin-top: 0;
}

.xans-product-additional .boardComment li.replyArea {
	margin: -1px 0 0;
	padding: 10px 0 7px 33px;
	border: 1px solid #e9e9e9;
	background:
		url("http://img.echosting.cafe24.com/skin/admin_ko_KR/board/ico_comment.gif")
		no-repeat 20px 15px;
}

.xans-product-additional .boardComment li.replyArea .commentSecret {
	margin-right: 30px;
}

.xans-product-additional .boardComment li.replyArea .comment {
	margin: 7px 0 0;
	padding: 0;
	border-top: 0;
}

.xans-product-additional .noAccess {
	margin: 15px 0 10px;
	border: 1px solid #d7d5d5;
	font-weight: bold;
	color: #008bcc;
	line-height: 39px;
	text-align: center;
}

.xans-product-additional .minor {
	margin: 15px 0 0;
	padding: 35px 0 24px;
	border: 1px solid #d7d5d5;
	font-weight: bold;
	color: #353535;
	line-height: 14px;
	text-align: center;
}

.xans-product-additional .minor p:first-child img {
	margin: -11px 8px 0 0;
	vertical-align: top;
}

.xans-product-additional .minor strong {
	color: #008bcc;
}

.xans-product-additional .minor .button {
	margin: -7px 0 0;
}

.xans-product-additional .commentSecret {
	margin: 10px 10px 5px 0;
	padding: 10px 15px;
	border: 1px solid #e9e9e9;
	background-color: #fbfafa;
	color: #353535;
}

.xans-product-additional .commentSecret input[type=password] {
	height: 20px;
	padding: 2px 2px 2px 4px;
	border: 1px solid #d9d9d9;
}

.xans-product-relation ul.link {
	margin: 30px 0 11px;
	border-bottom: 1px solid #292929;
	border-left: 0;
	line-height: 1.5;
	*zoom: 1;
}

.xans-product-relation ul.link:after {
	content: "";
	display: block;
	clear: both;
}

.xans-product-relation ul.link li {
	float: left;
	width: 20%;
	margin: 0 0 0 -1px;
	border-top: 1px solid #cbcdce;
}

.xans-product-relation ul.link li.selected {
	width: 20.3%;
}

.xans-product-relation ul.link li a {
	display: block;
	height: 38px;
	padding: 0 15px;
	border-right: 1px solid #cbcdce;
	border-left: 1px solid #cbcdce;
	color: #757575;
	line-height: 38px;
	text-decoration: none;
	text-align: center;
	background: #f0f2f2;
}

.xans-product-relation ul.link li.selected a {
	position: relative;
	top: -1px;
	margin: 0 0 -1px;
	border: 1px solid #292929;
	color: #fff;
	font-weight: bold;
	background: #4a5164;
}

.xans-product-relation ul.link li:first-child, .xans-product-relation ul.link li.selected:first-child
	{
	margin-left: 0;
}

.xans-product-relation .relation {
	padding: 20px 0 50px;
	color: #8f8f91;
	line-height: 1.8em;
}

.xans-product-relation .relation h3 {
	padding: 0 10px 0 9px;
	color: #444;
	font-size: 12px;
}

.xans-product-relation .relation ul.prdList {
	display: table;
	width: 100%;
	min-width: 756px;
	margin: -8px 0 0;
	font-size: 0;
	line-height: 0;
}

.xans-product-relation .relation ul.prdList img {
	vertical-align: middle;
}

.xans-product-relation .relation ul.prdList li.item {
	display: inline-block;
	margin: 20px 0;
	color: #757575;
	vertical-align: top;
	*display: inline;
	*zoom: 1;
}

.xans-product-relation .relation ul.prdList li.item .box {
	margin: 0 auto;
	font-size: 12px;
	line-height: 18px;
}

.xans-product-relation .relation ul.prdList li.item {
	width: 20%;
}

.xans-product-relation .relation ul.prdList li.item .box {
	width: 189px;
}

.xans-product-relation .relation ul.prdList li.item .box strong {
	display: block;
	margin: 3px 0 0;
	color: #008bcc;
}

.xans-product-relation .relation ul.prdList li.item .thumb {
	width: 187px;
	height: 255px;
	margin: 0 0 16px;
	border: 1px solid #ececec;
}

.sub_visual {
	position: relative;
	margin: 0 auto;
	width: 98%;
	height: 300px;
	text-align: center;
	overflow: hidden;
	z-index: 1
}

.sub_visual .visuals a {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 300px;
	text-align: left;
	text-indent: -9999px;
	opacity: 0;
	filter: alpha(opacity = 0)
}

.sub_visual .circle {
	position: absolute;
	left: 0;
	bottom: 15px;
	width: 100%;
	z-index: 2
}

.sub_visual .circle a {
	display: inline-block;
	margin: 0 3px 0 3px;
	width: 10px;
	height: 10px;
	text-align: left;
	text-indent: -9999px;
	background: #fff;
	border: 1px solid #ccc
}

.sub_visual .circle a:hover {
	opacity: 1;
	background: #999;
	border: 1px solid #777
}

.sub_visual .circle a.active {
	opacity: 1;
	background: #999;
	border: 1px solid #777
}

.sub_visual .spinn {
	position: absolute;
	top: 127px;
	z-index: 3
}

.sub_visual .prev {
	left: 20px
}

.sub_visual .next {
	right: 20px
}

#gnb_left.fixed {
	position: fixed;
	top: -45px
}

#contents_left {
	float: left;
	margin-top: 50px;
	width: 200px;
	color: #777;
	text-align: right
}

#contents_left .left_title {
	clear: both;
	padding-top: 8px;
	padding-right: 20px;
	width: 160px;
	height: 22px;
	background: #7b327b;
	font: bold 12px Nanum Gothic, '나눔고딕';
	color: #fff;
	text-align: right
}

@
-moz-document url-prefix () { #left_content .left_title {padding-top:7px
	
}

}
#contents_left .top_blank {
	margin-top: 10px
}

#contents_left ul {
	margin: 0;
	padding: 0;
	width: 180px
}

#contents_left ul.cate a {
	display: block;
	padding: 5px 20px 5px 0;
	text-decoration: none;
	font: 12px arial, '굴림', gulim;
	color: #777;
	line-height: 14px
}

#contents_left ul.cate li {
	list-style: none
}

#contents_left ul.cate li:hover>a {
	background: #eee;
	color: #000
}

#contents_left ul.cate li:hover>a.fly {
	background: url(../../../img/gnb_sub_arrow.gif) no-repeat 170px #eee
}

#contents_left ul.cate a:hover {
	background: #1b2034;
	color: #fff;
	visibility: visible
}

#contents_left ul.cate li a.fly {
	background: url(../../../img/gnb_sub_arrow.gif) no-repeat 170px
}

#contents_left ul.cate li a.fly:hover {
	background: url(../../../img/gnb_sub_arrow.gif) no-repeat 170px #eee
}

#contents_left ul.cate li ul.sub_gnb {
	position: absolute;
	left: 180px;
	visibility: hidden;
	background: #fbfbfb;
	z-index: 111
}

#contents_left ul.cate li ul.sub_gnb li a {
	display: block;
	padding: 5px 10px 3px;
	text-decoration: none;
	font: 12px '굴림', gulim, arial;
	line-height: 16px
}

#contents_left ul.cate li:hover>ul.sub_gnb {
	margin: -24px 0 0 0;
	padding: 0;
	width: 150px;
	visibility: visible
}

#contents_left ul.cate li:hover>ul.sub_gnb li {
	height: 100%
}

#contents_left ul.cate li:hover>ul.sub_gnb li:hover a {
	background: #eee
}

#contents_left ul.cate li:hover>ul.sub_gnb li a {
	color: #777;
	text-align: left
}

#contents_left ul.cate li:hover>ul.sub_gnb li a:hover {
	color: #222
}

.top_blank_title {
	margin-top: 25px
}

#phone_num {
	margin-top: 15px;
	margin-right: 40px;
	font: 16px arial, '굴림', gulim;
	color: #555;
	line-height: 20px
}

#shop_time {
	margin-top: 10px;
	margin-right: 40px;
	font: 11px '돋움', dotum;
	line-height: 16px
}

#bank_account_left {
	margin-top: 15px;
	margin-right: 40px;
	font: 12px '굴림', gulim;
	line-height: 18px
}

#contents_right {
	float: right;
	padding: 20px 0;
	width: 1000px;
	min-height: 600px;
	_height: 600px;
	overflow-x: hidden;
	zoom: 1
}

.wrap_title {
	height: 54px;
	background: url(../../../img/title_line.gif) repeat-x
}

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,
	code, form, fieldset, legend, input, textarea, p, blockquote, th, td,
	img {
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
	height: 100%;
}

body, code {
	font: 0.75em Verdana, Dotum, AppleGothic, sans-serif;
	color: #353535;
	background: #fff;
}

body {
	min-width: 1480px;
}

body#popup {
	min-width: 0;
}

li {
	list-style: none;
}

img, fieldset {
	border: none;
	vertical-align: top;
}

table {
	width: 100%;
	border: 0;
	border-spacing: 0;
	border-collapse: collapse;
}

caption {
	display: none;
}

th, td {
	border: 0;
	vertical-align: top;
}

input, select, textarea {
	font-size: 100%;
	font-family: "돋움", Dotum;
	color: #353535;
	vertical-align: middle;
}

.inputTypeText {
	height: 19px;
	padding: 3px 0 0 9px;
	border: 1px solid #d5d5d5;
}

select {
	height: 24px;
	border: 1px solid #d5d5d5;
}

textarea {
	padding: 5px 6px;
	border: 1px solid #d5d5d5;
	line-height: 1.5;
}

legend {
	visibility: hidden;
	position: absolute;
	left: -9999px;
	top: -9999px;
	width: 0;
	height: 0;
	line-height: 0;
}

button {
	overflow: visible;
	padding: 0;
	margin: 0;
	border: 0;
	cursor: pointer;
}

hr.layout {
	display: none;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: none;
}

.objHidden {
	visibility: hidden;
	position: absolute;
	left: -1000px;
	top: -1000px;
	height: 0;
	width: 0;
}

table tr.radioType input, span.noBorder input {
	border: none !important;
	width: auto !important;
	height: auto !important;
	margin: 0 3px 0 0 !important;
	vertical-align: middle !important;
	background: none !important;
}

#content_CONTAINER td {
	width: auto !important;
}

table.nneditor-table {
	width: auto !important;
}

#progressPaybarBackground {
	position: absolute;
	z-index: 99;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

#progressPaybarView {
	position: absolute;
	z-index: 100;
	top: 160px;
	left: 20px;
	width: 471px;
	font-size: 12px;
}

#progressPaybarView .box {
	height: 180px;
	background:
		url(http://img.cafe24.com/images/ec_hosting/popup/layer_guide/bg_layer_box1.gif)
		0 0 no-repeat;
}

#progressPaybarView .box .graph {
	padding: 15px 0 0 0;
	text-align: center;
}

#progressPaybarView .box .graph span {
	display: block;
	text-align: center;
	margin: 20px 0;
}

#progressPaybarView .box .txt {
	text-align: center;
	padding: 15px 0 0;
	color: #555555;
}

div.layerProgress {
	filter: alpha(opacity = 40);
	opacity: 0.4;
	-moz-opacity: 0.4;
	background-color: #999;
}

#skipNavigation {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 0;
}

#skipNavigation p, #skipNavigation ul, #skipNavigation ul li {
	height: 0;
}

#skipNavigation p a {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	overflow: hidden;
	width: 1px;
	height: 1px;
	margin-left: -1px;
	margin-bottom: -1px;
	text-align: center;
	color: #000;
	white-space: nowrap;
}

#skipNavigation p a:focus, #skipNavigation p a:hover, #skipNavigation p a:active
	{
	width: 100%;
	height: auto;
	padding: 10px 0;
	background: #c4122f;
	color: #fff;
	z-index: 100;
}

.displaynone {
	display: none;
}

#header {
	background:
		url("http://img.echosting.cafe24.com/skin/base_ko_KR/layout/bg_body.gif")
		repeat-x 0 0;
}

#header .inner {
	position: relative;
	width: 1218px;
	margin: 0 auto;
	*zoom: 1;
}

#header .inner:after {
	content: "";
	display: block;
	clear: both;
}

#header .topArea {
	height: 112px;
	padding: 83px 0 0;
	text-align: center;
	*zoom: 1;
}

#header .topArea:after {
	content: "";
	display: block;
	clear: both;
}

#header .special {
	float: left;
	border-left: 1px solid #d8d8d8;
}

#header .special li {
	float: left;
}

#header .special a {
	display: block;
	height: 20px;
	padding: 16px 15px 9px;
	border-right: 1px solid #d8d8d8;
	color: #353535;
	text-decoration: none;
}

#header .special a:hover {
	color: #008bcc;
	padding-bottom: 7px;
	border-bottom: 2px solid #008bcc;
}

#header .link {
	position: absolute;
	left: 0;
	top: 0;
	height: 35px;
	line-height: 35px;
}

#header .link>a, #header .link>span {
	float: left;
}

#header .link>a {
	margin: 0 9px 0 0;
	padding: 0 10px 0 0;
	color: #666;
	text-decoration: none;
	background:
		url("http://img.echosting.cafe24.com/skin/base_ko_KR/layout/ico_util2.gif")
		no-repeat 100% 12px;
}

#header .link>span img {
	vertical-align: middle;
}

#header .link .xans-layout-bookmark span {
	padding-left: 17px;
	background:
		url("http://img.echosting.cafe24.com/skin/base_ko_KR/layout/ico_bookmark.gif")
		no-repeat 0 1px;
}

#wrap {
	position: relative;
	width: 1460px;
	margin: 27px auto 0;
}

#container {
	width: 1218px;
	margin: 0 auto;
	*zoom: 1;
}

#container:after {
	content: "";
	display: block;
	clear: both;
}

#sidebar {
	float: left;
	width: 180px;
}

#sidebar .banner {
	padding: 0 0 20px;
	border-bottom: 1px solid #e8e8e8;
}

#sidebar .banner p a {
	display: block;
}

#contents {
	float: right;
	width: 1014px;
}

#banner {
	position: absolute;
	top: 0;
	left: 0;
	width: 90px;
}

#quick {
	position: absolute;
	top: 0;
	right: 0;
	width: 90px;
}

#quick .banner a {
	display: block;
	margin: 15px 0 0;
}

#footer {
	background:
		url("http://img.echosting.cafe24.com/skin/base_ko_KR/layout/bg_footer.gif")
		repeat-x 0 100%;
}

#footer .inner {
	overflow: hidden;
	position: relative;
	width: 1218px;
	margin: 40px auto 0;
	*zoom: 1;
}

#boardArea {
	overflow: hidden;
	margin: 50px 0 0;
	border-top: 1px solid #d8d8d8;
}

#bannerArea {
	margin: 22px 0 0;
}

#bannerArea h2 {
	margin: 0 0 16px;
	font-weight: normal;
	font-size: 20px;
	font-family: Arial, "돋움", Dotum, sans-serif;
	color: #2e2e2e;
	text-align: center;
}

.path {
	overflow: hidden;
	height: 30px;
	line-height: 30px;
	*zoom: 1;
}

.path span {
	overflow: hidden;
	position: absolute;
	width: 0;
	height: 0;
	white-space: nowrap;
	text-indent: 100%;
}

.path ol {
	float: right;
}

.path li {
	float: left;
	padding: 0 0 0 12px;
	margin: 0 0 0 8px;
	color: #757575;
	background:
		url("http://img.echosting.cafe24.com/skin/base_ko_KR/common/ico_path.gif")
		no-repeat 0 10px;
}

.path li:first-child {
	background: none;
}

.path li a {
	color: #757575;
}

.path li strong, .path li strong a {
	color: #2e2e2e;
}

.titleArea {
	min-height: 30px;
	margin: 10px 0 20px;
	border-bottom: 1px solid #e8e8e8;
}

.titleArea h2 {
	display: inline-block;
	padding: 0 0 0 12px;
	color: #2e2e2e;
	font-size: 16px;
	*display: inline;
	*zoom: 1;
	background:
		url("http://img.echosting.cafe24.com/skin/base_ko_KR/common/ico_heading.gif")
		0 2px no-repeat;
}

.titleArea p {
	display: inline-block;
	margin: 0 0 0 6px;
	padding: 0 0 0 10px;
	color: #939393;
	background:
		url("http://img.echosting.cafe24.com/skin/base_ko_KR/common/ico_title.gif")
		no-repeat 0 0;
	*display: inline;
	*zoom: 1;
}

.titleArea ul {
	padding: 5px 0;
	color: #939393;
	line-height: 18px;
}

.titleArea ul li {
	padding: 0 0 0 9px;
	background:
		url("http://img.echosting.cafe24.com/skin/base_ko_KR/common/ico_info.gif")
		no-repeat 4px 7px;
}

.help {
	margin: 40px 0 0;
	border: 1px solid #d6d4d4;
	line-height: 18px;
}

.help h3 {
	padding: 9px 0 6px 10px;
	border-bottom: 1px solid #e8e7e7;
	color: #353535;
	font-size: 12px;
	background: #fbfbfb;
}

.help .content {
	padding: 0 9px 12px;
}

.help .content h4 {
	margin: 22px 0 -4px;
	color: #000;
	font-size: 12px;
	font-weight: normal;
}

.help .content h4:first-child {
	margin-top: 13px;
}

.help .content p {
	margin: 15px 0 0 10px;
	color: #757575;
}

.help .content ul {
	margin: 15px 0 0 11px;
}

.help .content li {
	padding: 0 0 0 25px;
	color: #757575;
	background:
		url("http://img.echosting.cafe24.com/skin/base_ko_KR/common/ico_number.png")
		no-repeat;
}

.help .content li.item1 {
	background-position: -484px 0;
}

.help .content li.item2 {
	background-position: -434px -100px;
}

.help .content li.item3 {
	background-position: -384px -200px;
}

.help .content li.item4 {
	background-position: -334px -300px;
}

.help .content li.item5 {
	background-position: -284px -400px;
}

.help .content li.item6 {
	background-position: -234px -500px;
}

.help .content li.item7 {
	background-position: -184px -600px;
}

.help .content li.item8 {
	background-position: -134px -700px;
}

.help .content li.item9 {
	background-position: -84px -800px;
}

.help .content li.item10 {
	background-position: -34px -900px;
}

.boardMain {
	overflow: hidden;
	*zoom: 1;
}

.boardMain td img {
	vertical-align: middle;
	margin: 1px;
}

.boardMain .board {
	margin: 0 0 65px;
}

.boardMain .leftArea {
	float: left;
	width: 50%;
}

.boardMain .leftArea .board {
	margin: 0 23px 65px 0;
}

.boardMain .rightArea {
	float: right;
	width: 50%;
}

.boardMain .rightArea .board {
	margin: 0 0 65px 23px;
}

#modalBackpanel {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10000;
	width: 100%;
	height: 100%;
	background: #000;
}

#modalContainer {
	display: none;
	position: absolute;
	top: 100px;
	left: 100px;
	z-index: 10001;
	width: 975px;
	height: 720px;
	border: 1px solid #333;
	background: #fff;
}

#modalContainer #modalContent {
	width: 100%;
	height: 100%;
}

body {
	min-width: 1400px !important
}

body, code {
	font: 0.75em arial, '굴림', gulim, Verdana, '돋움', dotum, AppleGothic,
		sans-serif !important
}

.xans-product-additional div.board p.nodata {
	font-weight: normal !important;
	color: #999 !important
}

.xans-product-menupackage .title h2 {
	background: none !important;
	text-align: center
}

.xans-product-menupackage .menuCategory {
	border: 0 !important
}

.xans-product-normalmenu .prdCount {
	color: #555 !important
}

.path li a {
	font-family: gulim
}

.path li strong, .path li strong a {
	font-family: gulim
}

@import url(nanumgothic/nanumgothic.css);

html {
	overflow-y: scroll
}

html, body {
	margin: 0 auto;
	border: 0
}

#top_bg {
	clear: both;
	height: 36px;
	background: #525
}

.wrap_default {
	clear: both;
	position: relative;
	margin: 0 auto;
	width: 1200px
}

#body_top_left {
	position: absolute;
	left: 0
}

#body_top_left img {
	float: left;
	margin-left: 1px;
	font-size: 0;
	letter-spacing: -1px;
	white-space: nowrap
}

#top_bg .gnb_blank {
	padding: 0 10px;
	background: url(../../../img/gnb_top_line.gif) center 2px no-repeat
}

#top_left {
	float: left;
	margin-top: 12px
}

#top_left ul {
	margin: 0;
	padding: 0;
	list-style: none
}

#top_left ul li {
	float: left;
	vertical-align: top
}

#top_left a {
	text-decoration: none;
	font: bold 10px Nanum Gothic, '나눔고딕';
	color: #ccc;
	vertical-align: top
}

#top_left a:hover {
	color: #fff
}

#top_right {
	float: right;
	margin-top: 12px
}

#top_right ul {
	margin: 0;
	padding: 0;
	list-style: none
}

#top_right ul li {
	float: left;
	vertical-align: top
}

#top_right a {
	text-decoration: none;
	font: bold 10px Nanum Gothic, '나눔고딕';
	color: #ccc;
	vertical-align: top
}

#top_right a:hover {
	color: #fff
}

#top_right #logout_color {
	color: #f88;
	vertical-align: top
}

#top_right .cart_count {
	font-weight: bold;
	vertical-align: top
}

#icon_moving {
	position: absolute;
	margin-top: 14px;
	margin-left: 55px;
	width: 155px;
	height: 27px;
	z-index: 21
}

.wrap_default #logo {
	float: left;
	margin-top: 60px;
	margin-bottom: 60px;
	margin-left: 10px
}

#gnb_top {
	float: right
}

#horizontal_nav {
	margin-top: 62px;
	height: 70px
}

#horizontal_nav ul {
	padding: 0;
	list-style: none
}

ul.horizontal-dropdown {
	position: relative;
	float: left;
	margin: 0
}

ul.horizontal-dropdown li {
	float: left;
	padding: 0
}

ul.horizontal-dropdown a {
	display: block;
	margin: 0 12px;
	padding: 11px 13px 17px;
	text-decoration: none;
	blr: expression(this.onFocus = this.blur ());
	font: bold 14px Nanum Gothic, '나눔고딕';
	color: #333;
	line-height: 12px;
	outline: none
}

ul.horizontal-dropdown li.hover a.gnb_main {
	background: url(../../../img/gnb_bg_hover.gif) repeat-x
}

ul.horizontal-dropdown li.hover a.gnb_main {
	color: #949
}

ul.horizontal-dropdown ul {
	position: absolute;
	margin-left: 4px;
	overflow: hidden;
	z-index: 31
}

ul.horizontal-dropdown ul li {
	display: none;
	background: #949
}

ul.horizontal-dropdown ul li a {
	position: relative;
	display: block;
	float: left;
	top: 0;
	left: 0;
	padding: 8px 0;
	blr: expression(this.onFocus = this.blur ());
	font: bold 11px '돋움', dotum;
	color: #fff;
	letter-spacing: -1px;
	line-height: 12px;
	outline: none
}

ul.horizontal-dropdown ul li a:hover {
	color: #fcf
}

#wrap_search {
	float: right;
	margin-top: -25px;
	margin-bottom: 5px;
	width: 129px
}

#wrap_search fieldset {
	margin: 0;
	padding: 0;
	border: none
}

#wrap_search img {
	position: absolute;
	margin-top: 3px;
	right: 0
}

#wrap_language {
	position: relative;
	float: right;
	margin-top: -42px;
	z-index: 11
}

.language_area {
	float: left;
	height: 32px;
	padding-right: 6px;
	background: url(../../../img/language_bg.png)
}

#language_title {
	margin-top: 10px;
	padding: 0 5px 0 10px;
	font: 10px arial;
	color: #fff
}

@
-moz-document url-prefix () { #
	language_title {margin-top: 8px
}

}
#language_select ul {
	margin: 5px 0 0;
	padding: 0;
	list-style: none
}

#language_select ul li {
	float: left;
	margin-left: 5px;
	margin-bottom: 5px;
	width: 30px;
	height: 22px;
	overflow: hidden
}

#language_select ul li img {
	padding: 0;
	border: 0
}

.wrap_default #on_top {
	display: block;
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 101
}

#gnb_bottom_bg {
	clear: both;
	background: #525
}

#gnb_bottom {
	position: relative;
	text-align: center
}

.gnb_category_sub {
	position: relative;
	margin: 0 auto;
	padding: 0 0 0 10px;
	width: 1200px;
	height: 190px;
	text-align: left
}

.gnb_category_sub ul {
	float: left;
	margin: 0;
	padding: 0;
	width: 160px;
	list-style: none
}

.gnb_category_sub ul:first-child {
	width: 150px
}

.gnb_category_sub {
	font: 11px '돋움', dotum;
	color: #bbb;
	line-height: 18px
}

.gnb_category_sub ul li {
	color: #bbb
}

.gnb_category_sub ul li a {
	text-decoration: none;
	font: 11px '돋움', dotum;
	color: #bbb;
	line-height: 18px
}

.gnb_category_sub ul li a:hover {
	color: #fff
}

.gnb_category_sub .category_title {
	padding: 25px 0 7px 1px;
	font: bold 11px Georgia, '돋움', dotum;
	color: #fff;
	letter-spacing: 1px
}

.gnb_category_sub #bank_account {
	font: 12px '굴림', gulim;
	line-height: 18px
}

.gnb_category_sub .blank_area {
	padding-left: 15px
}

#wrap_copyright {
	position: relative;
	padding: 7px 0 20px;
	text-align: center;
	font: 11px '돋움', dotum;
	color: #999;
	line-height: 20px
}

#wrap_copyright #logo_bottom {
	position: absolute;
	margin-top: 15px;
	right: 45px
}

#wrap_copyright .line_style {
	padding: 0 5px;
	color: #ccc
}

#wrap_copyright p {
	margin: 0;
	padding: 0
}

#wrap_copyright .address {
	margin-top: 10px
}

#wrap_copyright .address a {
	text-decoration: none;
	font: 11px '돋움', dotum;
	color: #999;
	line-height: 20px
}

#wrap_copyright .address a:hover {
	color: #333
}

#wrap_copyright .copy {
	margin-top: 15px
}

.xans-layout-searchheader {
	
}

.xans-layout-searchheader fieldset {
	
}

.xans-layout-searchheader #keyword {
	padding: 0 0 0 2px;
	width: 108px;
	height: 20px;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #e1e1e1;
	border-left: 0;
	outline-style: none;
	font: normal 11px '돋움', dotum;
	color: #777;
	line-height: 12px;
}

.xans-layout-conversionpc a {
	display: block;
	padding: 21px 0 22px;
	border: 2px solid #9d9db0;
	border-radius: 4px;
	font-weight: bold;
	font-size: 38px;
	color: #63666e;
	text-align: center;
}

.xans-layout-conversionpc a {
	background: #fff
		-webkit-gradient(linear, left top, left bottom, from(#fff),
		to(#f2f2f2));
	background: #fff -moz-linear-gradient(top, #fff, #f2f2f2);
}

.xans-layout-conversionpc a:hover {
	text-decoration: none;
}

.xans-layout-conversionpc a span {
	padding: 0 0 0 42px;
	background:
		url("http://img.echosting.cafe24.com/skin/base_ko_KR/layout/ico_mobile.png")
		no-repeat 0 50%;
	background-size: 27px 35px;
}