<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="demo.db.persistence.EmployeeMapper">
	<resultMap type="Employee" id="EmployeeResultMap">
		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="dept_id" column="dept_id" />
		<result property="position_id" column="position_id" />
		<result property="email" column="email" />
		<result property="addr" column="addr" />
		<result property="birth" column="birth" />
		<result property="phone" column="phone" />
		<result property="record_start" column="record_start" />
		<result property="record_end" column="record_end" />
	</resultMap>

	<select id="getEmployees" resultType="Employee">
		select * from KJW_EMPLOYEE order by birth, name
	</select>
	<insert id="addEmployee" parameterType="Employee">
		insert into
		KJW_EMPLOYEE(name, email, addr, birth, phone, record_start,
		record_end, id, dept_id, position_id)
		values(#{name}, #{email},
		#{addr}, #{birth}, #{phone}, SYSDATE, SYSDATE,
		id_employee.nextval,
		#{dept_id}, #{position_id})
	</insert>
	<delete id="deleteEmployee" parameterType="int">
		Delete From KJW_EMPLOYEE Where
		id =
		#{id}
	</delete>

	<update id="updateEmployee" parameterType="Employee">
		Update KJW_EMPLOYEE Set
		dept_id=#{dept_id},
		position_id=#{position_id},
		name=#{name},
		email=#{email},
		addr=#{addr},
		birth=#{birth},
		phone=#{phone},
		record_end=SYSDATE
		Where id=#{id}
	</update>

</mapper>