<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="demo.db.persistence.FamilyMapper">
	<resultMap type="Family" id="FamilyResultMap">
		<result property="id" column="id" />
		<result property="emp_id" column="emp_id" />
		<result property="relation" column="relation" />
		<result property="birth" column="birth" />
	</resultMap>

	<select id="getFamily" parameterType="int" resultType="Family">
		select * from Family where id=#{id}
	</select>
	<insert id="addFamily" parameterType="Family">
		insert into
		Family(id, emp_id, relation, birth)
		values(id_family.nextval, #{emp_id}, #{relation}, #{birth} )
	</insert>

</mapper>